[Unit]
Description=Service for pifancontrol
StartLimitIntervalSec=0

[Service]
Type=exec
User=pi
WorkingDirectory=/home/pi/fan_control
ExecStart=/home/pi/fan_control/fan_control.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi_user.target
