[Unit]
Description=Fan control service
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStart=//usr/bin/python3 /home/pi/fan_control/fan_control.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
